*{
     margin: 0;
     padding: 0;
}

body{

     background-color:#efeee7;
     font-family: "Georgia",Times New Roman,Times,serif;
     
}
section{
    float: left;
    padding-top: 50px;
}
.container{
      background-color: #333333;
      margin: 0 auto;
      font-style: "Georgia",Times New Roman,Times,serif;
      float: center;
      padding: 40px;
      width: 1024px;
}

#bio{
    color:#eee;
    padding-inline-start: 450px;

}

.profile-image{ 
      margin: 30px;
      padding:20px;
      height: 200px;  
      width: 200px;
      float: left;
      max-width: 1000px;

}

#bio2{
    font-size: 24px;
    padding: 50px;
    padding-bottom: 50px;
    color:#333333 ;
}

#main-bio{
    float: left;
    color: #333333;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 50px;
    padding-left: 5px;
}

.font-color{
    color:#333333 ;
    padding: 8px;

}

.contact{
    color: #d21034;

}
#contact-font{
    color:#333333 ;
}